*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
}

.welcome{
    padding: 10px;
    background-color: darkgrey;
    border: 3px solid brown;
    color: red; 
    margin-top: 10px;
    margin-bottom: 10px;
}